<header class="site-header">
  <div class="container">
    <h1 class="logo">
      <a href="/">{{ shop.name }}</a>
    </h1>
    <nav class="main-nav">
      <a href="/collections/all">Shop</a>
      <a href="/cart">Cart ({{ cart.item_count }})</a>
    </nav>
  </div>
</header>
